body {
    font-family: Arial, sans-serif;
    background: #E6D3F5; 
    margin: 0;
    padding: 0;
}

.header-row {
    display: flex;
    align-items: center;
    background-color: #E8CCF5; 
    padding: 15px 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.home-btn {
    font-size: 20px;
    color: white;
    padding: 8px 12px;
    background: #BA55D3; 
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
    margin-right: 15px;
}
.home-btn:hover {
    background: #9b42b6;
    transform: translateY(-3px);
}

.page-title {
    flex: 1;
    padding: 15px 20px;
    margin: 0;
    font-size: 35px;
    font-family: courier;
    color: #4B0082;
    text-align: center;
}

.layout {
    display: flex;
    width: 100%;
}

nav { 
    width: 200px; 
    min-height: 100vh; 
    background: linear-gradient(180deg, #dba4ff, #ffcef5); 
    border-radius: 10px; 
    padding: 20px; 
    margin: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2); 
    text-align: center; 
}

nav a { 
    display: block; 
    background: white; 
    padding: 10px; 
    margin: 8px 0; 
    color: #663399; 
    font-weight: bold; 
    text-decoration: none; 
    border-radius: 10px;
}

nav a:hover { 
    background: #f2e6ff; 
}

.content {
    flex: 1;
    padding: 20px;
}

.intro {
    text-align: center;
    width: 70%;
    margin: 20px auto;
    font-size: 18px;
    color: #5A3A66;
}

.family-photo {
    width: 30%;
    margin: 30px auto;
    display: block;
    border-radius: 20px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
}

.family-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card {
    background: #FFFFFF;
    width: 260px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    border-top: 6px solid MediumOrchid;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.card img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid MediumOrchid;
    margin-bottom: 12px;
}

.card h3 {
    font-size: 22px;
    margin: 5px 0;
    color: #BA55D3;
}

.card p {
    font-size: 15px;
    color: #5B3D68;
}

.values {
    text-align: center;
    margin-top: 50px;
}

.values h2 {
    color: MediumOrchid;
    font-size: 32px;
}

.value-items {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 10px;
}

.value-items div {
    background: #9370DB;
    padding: 15px 25px;
    border-radius: 30px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    box-shadow: 0 3px 8px rgba(0,0,0,0.15);
}

.story {
    width: 70%;
    margin: 40px auto;
    text-align: center;
    font-size: 18px;
    color: #5A3D68;
}

.quote {
    text-align: center;
    font-size: 22px;
    font-style: italic;
    color: #4B0082;
    margin-bottom: 40px;
}

/* VIDEO */
.video-section {
    text-align: center;
    margin: 60px auto;
}

.video-section h2 {
    font-size: 32px;
    color: MediumOrchid;
    margin-bottom: 20px;
}

.video-section video {
    width: 60%;
    max-width: 700px;
    border-radius: 20px;
    border: 5px solid #BA55D3;
    box-shadow: 0 6px 15px rgba(0,0,0,0.25);
}

/* GALLERY */
.gallery-section {
    margin: 70px auto;
}

.gallery-section h2 {
    text-align: center;
    font-size: 32px;
    color: MediumOrchid;
    margin-bottom: 25px;
}

.gallery {
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
}

.gallery img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 20px;
    border: 4px solid #D8B0F0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.gallery img:hover {
    transform: scale(1.07);
    border-color: #BA55D3;
}
